.btn {
  background-color: #3f51b5 !important;
  color: white !important; }

.badge:after {
  content: attr(data-shared);
  position: absolute;
  background: blue;
  height: 2rem;
  top: 1rem;
  right: 1.5rem;
  width: 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
  border-radius: 50%;
  color: white;
  border: 1px solid blue; }

.preloader-content {
  background-color: transparent !important;
  box-shadow: none !important; }

.loader {
  border: 9px solid #f3f3f3;
  /* Light grey */
  border-top: 9px solid #3f51b5;
  /* Blue */
  border-bottom: 9px solid #3f51b5;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

label.required::after {
  content: "*";
  margin-left: 2px; }

.margin-def-y {
  margin-top: 2px;
  margin-bottom: 2px; }

.margin-def-x {
  margin-left: 2px;
  margin-right: 2px; }

.padding-0 {
  padding: 0 !important; }

.default-color {
  color: #3f51b5 !important; }

.pointer {
  cursor: pointer; }

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

*,
*::before,
*::after {
  box-sizing: border-box; }

.fields {
  list-style: none;
  margin: 0;
  padding: 0; }

.field {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: solid 1px #dfdfdf; }

.field:last-child {
  border-bottom: none; }

/* context menu */
.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf; }

.context-menu--active {
  display: block; }

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0; }

.context-menu__item {
  display: block;
  margin-bottom: 4px; }

.context-menu__item:last-child {
  margin-bottom: 0; }

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none; }

.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa; }

label.required::after {
  content: "*";
  margin-left: 2px; }

.margin-def-y {
  margin-top: 2px;
  margin-bottom: 2px; }

.margin-def-x {
  margin-left: 2px;
  margin-right: 2px; }

.padding-0 {
  padding: 0 !important; }

.default-color {
  color: #3f51b5 !important; }

.pointer {
  cursor: pointer; }

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

.link-selected {
  font-weight: bold; }

.history-item {
  color: #3f51b5 !important;
  font-size: 16px;
  cursor: pointer;
  max-width: 15%;
  display: inline-flex; }
  .history-item p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

.context-field {
  max-height: 70px;
  /*overflow:hidden;*/ }
  .context-field i {
    text-align: center;
    width: 100%; }
  .context-field p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

#fields {
  width: 100%;
  height: 85vh; }

.filter-container input[type='text'] {
  display: block;
  float: right;
  max-width: 20%; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; }
    .sidenav a:hover {
      color: #f1f1f1; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

.offcanvas a:focus {
  color: #f1f1f1; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

#main-content {
  transition: margin-left .5s;
  padding: 20px; }

iframe {
  height: 90vh; }

