@using WebDisk.Web.Models.Home
@model IEnumerable<FieldViewModel>
<input type="hidden" name="directoryId" id="directoryId" value="@ViewBag.DirectoryId" />

@foreach (var field in Model)
{
    <div class="col-md-2 col-xs-4 context-field">
        @{Html.RenderPartial("_Field", field);}
    </div>
}