@import '_variables.scss';
.btn{
    background-color:$default-color !important;
    color:white !important;

}

.badge:after{
    content: attr(data-shared);
    position: absolute;
    background: rgba(0,0,255,1);
    height:2rem;
    top:1rem;
    right:1.5rem;
    width:2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 50%;
    color:white;
    border:1px solid blue;
}