@import "_variables.scss";

label.required::after {
    content: "*";
    margin-left: 2px;
}

.margin-def-y {
    margin-top: 2px;
    margin-bottom: 2px;
}

.margin-def-x {
    margin-left: 2px;
    margin-right: 2px;
}

.padding-0{
    padding:0 !important;
}
