<nav id="app-menu" class="context-menu">
    <ul class="context-menu__items">
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="startUpload()" data-action="Create">
                <i class="fa fa-eye"></i>Dodaj
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="initCreateDirectoryModal()" data-action="New">
                <i class="fa fa-eye"></i>Utwórz folder
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="tryPasteField()" data-action="Paste">
                <i class="fa fa-eye"></i>Wklej
            </a>
        </li>
        
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="openDirectoryDetails()" data-action="Details">
                <i class="fa fa-times"></i>Właściwości
            </a>
        </li>

    </ul>
</nav>


<nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="openFile()" data-action="View">
                <i class="fa fa-eye"></i>Otwórz
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Edit">
                <i class="fa fa-edit"></i>Zmień nazwę
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="copyFile()" data-action="Copy">
                <i class="fa fa-times"></i>Kopiuj
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Cut">
                <i class="fa fa-times"></i>Wytnij
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="deleteFile()" data-action="Delete">
                <i class="fa fa-times"></i>Usuń
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="openFileDetails()" data-action="Details">
                <i class="fa fa-times"></i>Właściwości
            </a>
        </li>

    </ul>
</nav>
