

<nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="View">
                <i class="fa fa-eye"></i>Otwórz
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Edit">
                <i class="fa fa-edit"></i>Zmień nazwę
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Copy">
                <i class="fa fa-times"></i>Kopiuj
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Cut">
                <i class="fa fa-times"></i>Wytnij
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Delete">
                <i class="fa fa-times"></i>Usuń
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Details">
                <i class="fa fa-times"></i>Właściwości
            </a>
        </li>

    </ul>
</nav>
