<nav id="app-menu" class="context-menu">
    <ul class="context-menu__items">
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="startUpload()" data-action="Create">
                Dodaj
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="initCreateDirectoryModal()" data-action="New">
                Utwórz folder
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="refreshWindow()" data-action="Refresh">
                Odśwież
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="tryPasteField()" data-action="Paste">
                Wklej
            </a>
        </li>
        
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="openDirectoryDetails()" data-action="Details">
                Właściwości
            </a>
        </li>

    </ul>
</nav>


<nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="openFile()" data-action="View">
                Otwórz
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="downloadFile()" data-action="Download">
                Pobierz
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="saveCopyFile()" data-action="Copy">
               Kopiuj
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="saveCutFile()" data-action="Cut" >
               Wytnij
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="deleteFile()" data-action="Delete">
               Usuń
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="openFieldNameChangeModal()" data-action="Edit">
                Zmień nazwę
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" onclick="openFileDetails()" data-action="Details">
               Właściwości
            </a>
        </li>

    </ul>
</nav>
